.btn-green{
    padding: 10px 12px;
    color: white;
    border-radius: 7px;
    background-color: green;
    border: 1px solid green;
    cursor: pointer;
}
.btn-boder-green{
    padding: 10px 12px;
    border: 1px solid green;
    border-radius: 7px;
    color: green;
    background:none;
    cursor: pointer;
}